<div class="row">
  <form class="col s10 offset-s5">
      <div class="row">
          <h5>Connexion</h5>
          <div class="input-field col s2">
            <input id="mail" type="text" class="validate">
            <label for="mail">Mail</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s2">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn">connexion</a>
        </div>
  </form>
</div>
